.App{
  text-align: center;
}

.border{
  text-align: left;
  height: 500px;
  margin-left: 5%;
  margin-right: 5%;
  border: 2px solid black;
}
.input{
  border: 2px solid gold;
} 
input{
  width: 50%;
  border: 2px solid violet;
}


